<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-3 text-center"><div class="btn btn-success">Y+</div></div>
    <div class="col-xs-3"></div>
    <div class="col-xs-3 text-right"><div class="btn btn-success">Z+</div></div>
</div>
<div class="row">
    <div class="col-xs-3 text-right"><div class="btn btn-success">X-</div></div>
    <div class="col-xs-3"></div>
    
    <div class="col-xs-3 text-left"><div class="btn btn-success">X+</div></div>
</div>
<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-3 text-center"><div class="btn btn-success">Y-</div></div>
    <div class="col-xs-3"></div>
     <div class="col-xs-3 text-right"><div class="btn btn-success">Z-</div></div>
</div>

<div class="row" style="margin-top:20px">
    <div class="col-xs-9 text-center"><div class="btn-group">
        <div class="btn btn-default">0.1mm</div>
        <div class="btn btn-default active">1mm</div>
        <div class="btn btn-default">10mm</div></div>
    </div>
</div>