<div class="row">
    <div class="col-xs-5">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        width
                    </div>
                    <div class="col-xs-6">
                        <input type="number"  class="form-control" ng-model="width"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        height
                    </div>
                    <div class="col-xs-6">
                        <input type="number"  class="form-control" ng-model="height"/>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-xs-6">
                        grid
                    </div>
                    <div class="col-xs-6">
                        <input type="number"  class="form-control" ng-model="grid"/>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success btn-smx" ng-click="runProbing()">&nbsp;&nbsp;<i class="fa fa-play"></i>&nbsp;&nbsp;run probing&nbsp;&nbsp;</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>